<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163726780-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163726780-1');
</script>

	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
	<link rel="shortcut icon" type="image/png" href="/media/normy.png">
	<link rel="stylesheet" href="/media/sidebar.css">
	<link rel="stylesheet" href="/media/side.css">
	<title>FJ</title>
</head>

<body>

	<div class="sidenav">

		<a href="http://felix-jimenez.com/">Home</a>
		<a href="cv/">CV</a>
		<a href="slides/">Slides</a>
		<a href="https://scholar.google.com/citations?hl=en&user=UHY-7YkAAAAJ">
			<i class="ai ai-google-scholar-square ai-3x" style="font-size:24px;"></i>
		  </a>	
		  <a href="https://github.com/feji3769">
			<i class="fa fa-github" style="font-size:24px"></i>
		  </a>
		  <a href="https://www.linkedin.com/in/felix-jimenez-557478b1/" target="_top"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a>
		  <a href="mailto:felix.m.jimenez3@gmail.com" target="_top"><i class="material-icons" style="font-size:24px;">email e0be</i></a>


		  
	  </div>
	  
	  <!-- Page content -->
	  <div class="main">
		<div id="header">
			<h1>
				Felix Jimenez
			</h1>
		</div>

		<div class="row">
			<div class="column">
				<figure>
					<img src="/media/me.jpg" alt="Trulli" style="width:75%">
					<figcaption>Me at <a href="https://en.wikipedia.org/wiki/Saint_Louis_Cemetery"  >St. Louis Cemetery No. 1.</a> </figcaption>
				  </figure>
		
			</div>
			<div class="column">
				<h2>
					About Me
				</h2>
				<p>
I am a first year statistics PhD student at <a href="https://www.stat.tamu.edu/">Texas A&M University</a>. I completed a combined  B.S./M.S. in Appplied Math from <a href="https://www.colorado.edu/amath/">University of Colorado Boulder</a> in May 2018. After finshing at CU I worked in the <a href="https://www.nist.gov/itl/sed">Statistical Engineering Division</a> at the National Institute of Standards and Technology (NIST). Please reach out if you are interested in collaborating or just want to learn more about my work. 
</p>
				
				
				<br>
			
					<h2>
						Research Interests
					</h2>
					Bayesian Statistics, Generative Modeling, Distributed Computing and Machine Learning. 	
			</div>

		</div>
		   




				


		
		

		

</body>






