<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163726780-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163726780-1');
</script>

	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
	<link rel="shortcut icon" type="image/png" href="/media/normy.png">
	<link rel="stylesheet" href="/media/sidebar.css">
	<link rel="stylesheet" href="/media/side.css">
	<title>FJ</title>
</head>

<body>

	<div class="sidenav">

		<a href="http://felix-jimenez.com/">Home</a>
		<a href="{{ HTTP_HOST }}/cv/">CV</a>
		<a href="{{ HTTP_HOST }}/slides/">Slides</a>
		<a href="https://scholar.google.com/citations?hl=en&user=UHY-7YkAAAAJ">
			<i class="ai ai-google-scholar-square ai-3x" style="font-size:24px;"></i>
		  </a>	
		  <a href="https://github.com/feji3769">
			<i class="fa fa-github" style="font-size:24px"></i>
		  </a>
		  <a href="https://www.linkedin.com/in/felix-jimenez-557478b1/" target="_top"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a>
		  <a href="mailto:felix.m.jimenez3@gmail.com" target="_top"><i class="material-icons" style="font-size:24px;">email e0be</i></a>


		  
	  </div>

<div class="main">
<h1> 2020 </h1>
<ul>
  <li><a href="jsm_2020">JSM 2020</a></li>
</ul>

<h1> 2019 </h1>
<ul>
  <li><a href="jsm_2019">JSM 2019</a></li>
  <li><a href="qrpc_2019">QRPC 2019 (NIST Statistics Seminar 2019)</a></li>



</ul>






</div>

		

</body>






